.section6{
    width: 100%;
    margin: auto;
    height: 100vh;
    background-image: url(../../images//background/section6\ bg.png);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    
  
}

.content-section6{
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  
}
.content-section6 h1{
    color: white;
    font-size: 100px;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 87.5px;
    text-align: start;
    width: 1037px;
    height: 176px;
    margin-left: 150px;
   
}
.content-section6 p{
    width: 1097px;
    height: 110px;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    line-height: 50px;
    color: rgba(255, 254, 254, 1);
    margin-left: 150px;
}
@media screen and (max-width:768px) {
    .content-section6 h1{
        font-size: 40px;
        line-height: 57.5px;
    width: 337px;
    margin-left: 0px;
height: 120px;
    }
    .content-section6 p{
        width: 320px;
        height: 120px;
        font-weight: 700;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 22px;
        color: rgba(255, 254, 254, 1);
        margin-left: 10px;
    }
}